<div class="search-panel">
    <input type="text" placeholder="Search" [(ngModel)]="searchnumber" length="9">
    <button (click)="onSearch()">Search</button>
    <button (click)="onDelete()">Delete</button>
  </div>
<table border="5">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
            <th>Column 5</th>
            <th>Column 6</th>
            <th>Column 7</th>
            <th>Column 8</th>
            <th>Column 9</th>
            <th>Column 10</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of FilteredtableData">
            <td>{{ row.column1 }}</td>
            <td>{{ row.column2 }}</td>
            <td>{{ row.column3 }}</td>
            <td>{{ row.column4 }}</td>
            <td>{{ row.column5 }}</td>
            <td>{{ row.column6 }}</td>
            <td>{{ row.column7 }}</td>
            <td>{{ row.column8 }}</td>
            <td>{{ row.column9 }}</td>
            <td>{{ row.column10 }}</td>
        </tr>
    </tbody>